body {
       padding-top: 10px;
       }
.hero-unit {
             padding-top: 10px;
             padding-bottom: 10px;
             margin-bottom: 10px;
             }
.hero-unit h1 {
                font-size: 48px;
                }
.hero-unit p {
               font-size: 16px;
               line-height: 18px;
               font-weight: 100;
               }

.custom_range_wrapper{
                       display: none;
                       }
form#name-results textarea, .biglabel {
                                        color: black;
                                        font-size: 110%;
                                        }
.spinny {
          display: none;
          padding-left: 5px;
          }
