<!DOCTYPE html>
<html lang="en">
  <!-- shamelessly stolen from view-source:http://twitter.github.com/bootstrap/examples/hero.html -->
  <head>
    <meta charset="utf-8">
    <title>Namey</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
	  google.load("jquery", "1.6.4");
	</script>
	<script type="text/javascript" src="/api.js"></script>
	<script type="text/javascript" src="/ui.js"></script>

    <!-- Le styles -->
    <link href="/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
padding-top: 10px;
      }
.hero-unit {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero-unit h1 {
 font-size: 48px;
}
.hero-unit p {
 font-size: 16px;
 line-height: 18px;
 font-weight: 100;
}

    </style>

	<!---
       <link rel="shortcut icon" href="images/favicon.ico">
	   --->
  </head>

  <body>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Namey!</h1>
		<h2>A random name generator</h1>
		<p>Welcome to Namey, the random name generator, powered by the ruby
		  gem of the same name. It uses the 
		  <a href="http://www.census.gov/genealogy/names/">US Census
			Bureau database</a> of first and last names to generate random
		  names. You can specify gender, whether you want a common or
			rare name, and so on. It's pretty easy, so...</p>
      </div>

	  <section id="forms">
		<div class="page-header">
		  <h1>Lets make some names!</h1>
		</div>
		<div class="row">
		  <div>
			<form id="name-params">
			  <fieldset>
				<div class="clearfix">
				  <label id="type-opts">Name Type</label>
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="radio" checked name="type" value="both" />
						  <span>Any Gender</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="female" />
						  <span>Female</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="male" />
						  <span>Male</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="surname" />
						  <span>Just a surname</span>
						</label>
					  </li>
					</ul>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix">
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="checkbox" name="with_surname" value="true" checked />
						  <span>Include a surname?</span>
						</label>
					  </li>
					</ul>
					<span class="help-block">
					  <strong>Note:</strong> If you uncheck this, you'll only get a first name.
					</span>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix">
				  <label id="optionsRadio">Name Frequency</label>
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="radio" checked name="frequency" value="common" />
						  <span>'Common' names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="rare" />
						  <span>Rare names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="all" />
						  <span>All names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="custom" />
						  <span>Custom range: </span>
						  From: <input class="span2 disabled" id="min_freq" name="min_freq" type="text" placeholder="(0-100)" disabled />
						  To: <input class="span2 disabled" id="max_freq" name="max_freq" type="text" placeholder="(0-100)" disabled />
						</label>
					  </li>
					</ul>
				  </div>
				</div><!-- /clearfix -->


				<div class="clearfix">
				  <label for="count">How many names to generate?</label>
				  <div class="input">
					<select name="count" id="count">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix">
				  <label for="disabledInput">Results:</label>
				  <div class="input">
					<textarea class="xxlarge" name="nameList" id="nameList" rows="5"></textarea>
				  </div>
				</div><!-- /clearfix -->

				<div class="actions">
				  <input type="submit" class="btn primary" value="Gimme a name!">
				</div>
			  </fieldset>
			</form>
		  </div>
		</div><!-- /row -->

	  </section>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span5">
          <h2>Open Source</h2>
          <p>The code for namey is totally open source, do what you
          like with it! <a href="https://github.com/muffinista/namey">Check it out on github</a></p>
		</div>
        <div class="span6">
          <h2>API Available</h2>
          <p>Are you a nerd? Do you like APIs? You're in luck! Namey
          has a <a href="/api.js">Javascript API</a> available so
          you can generate names however you would like.</p>
        </div>
        <div class="span5">
          <h2>Muffinlabs</h2>
          <p>Namey is
          a <a href="http://muffinlabs.com">muffinlabs</a>
          production. Please visit!</p>
        </div>
      </div>

      <footer>
        <p>&copy; Colin Mitchell 2011, <a href="http://muffinlabs.com">http://muffinlabs.com</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
