<!DOCTYPE html>
<html lang="en">
  <!-- shamelessly stolen from view-source:http://twitter.github.com/bootstrap/examples/hero.html -->
  <head>
    <meta charset="utf-8">
    <title>Namey</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
	  google.load("jquery", "1.6.4");
	</script>
	<script type="text/javascript" src="/api.js"></script>
	<script type="text/javascript" src="/ui.js"></script>

    <!-- Le styles -->
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/namey.css" rel="stylesheet">
	<!---
       <link rel="shortcut icon" href="images/favicon.ico">
	   --->
  </head>

  <body>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Namey! <small>A random name generator</small></h1>
		<p>Welcome to Namey, your friendly neighborhood random name
		  generator. It uses the 
		  <a href="http://www.census.gov/genealogy/names/">US Census
			Bureau database</a> of first and last names to generate random
		  names. You can specify gender, whether you want a common or
		  rare name, and so on. It's pretty easy, so... Lets make
		  some names!</p>
      </div>

	  <section id="forms">
		<div class="page-header">
		  <h1>Name Options <small>What sort of names do you want?</small></h1>
		</div>

		<div class="row">
		  <div class="span8">
			<form id="name-params" class="form-stacked">
			  <fieldset>
				<div class="clearfix">
				  <label id="type-opts">Name Type</label>
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="radio" checked name="type" value="both" />
						  <span>Any Gender</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="female" />
						  <span>Female</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="male" />
						  <span>Male</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="type" value="surname" />
						  <span>Just a surname</span>
						</label>
					  </li>
					</ul>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix surname-wrapper">
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="checkbox" name="with_surname" value="true" checked />
						  <span>Include a surname?</span>
						</label>
					  </li>
					</ul>
					<span class="help-block">
					  <strong>Note:</strong> If you uncheck this, you'll only get a first name.
					</span>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix">
				  <label id="optionsRadio">Name Frequency</label>
				  <div class="input">
					<ul class="inputs-list">
					  <li>
						<label>
						  <input type="radio" checked name="frequency" value="common" />
						  <span>'Common' names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="rare" />
						  <span>Rare names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="all" />
						  <span>All names</span>
						</label>
					  </li>
					  <li>
						<label>
						  <input type="radio" name="frequency" value="custom" />
						  <span>Custom range </span>

						  <span class="custom_range_wrapper">
							- From: <input class="span2 disabled" id="min_freq" name="min_freq" type="text" placeholder="(0-100)" disabled />
							To: <input class="span2 disabled" id="max_freq" name="max_freq" type="text" placeholder="(0-100)" disabled />
						  </span>
						</label>
					  </li>
					</ul>
				  </div>
				</div><!-- /clearfix -->


				<div class="clearfix">
				  <label for="count">How many names to generate?</label>
				  <div class="input">
					<select name="count" id="count">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				  </div>
				</div><!-- /clearfix -->

				<div class="clearfix">
				  <input type="submit" class="btn primary" value="Let's go!">
				  <span class="spinny"><img src="/ajax-loader.gif" /></span>
				</div>
			  </fieldset>
			</form>
		  </div>

		  <div class="span8" id="results">
			<form id="name-results" class="form-stacked">
			  <label for="nameList" class="biglabel">Results:</label>
			  <fieldset>
				<div class="clearfix">
				  <div class="input">
					<textarea class="large" name="nameList" id="nameList" rows="5"></textarea>
				  </div>
				</div><!-- /clearfix -->
			  </fieldset>
			</form>
		  </div>
		</div><!-- /row -->
	  </section>

<section id="about">
      <div class="row">
        <div class="span5">
          <h2>Open Source</h2>
          <p>Namey is powered by a ruby gem. The code is totally open source, do what you
			like with it! <a href="https://github.com/muffinista/namey">Check it out on github</a></p>
		</div>
        <div class="span6">
          <h2>API Available</h2>
          <p>Are you a nerd? Do you like APIs? You're in luck! Namey
			has a <a href="/api.js">Javascript API</a> available so
			you can generate names however you would like.</p>
        </div>
        <div class="span5">
          <h2>Muffinlabs</h2>
          <p>Namey is
			a <a href="http://muffinlabs.com">muffinlabs</a>
			production. Please visit anytime!</p>
        </div>
      </div>
</section>

      <footer>
        <p>&copy; Colin Mitchell 2011, <a href="http://muffinlabs.com">http://muffinlabs.com</a></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
