require 'rubygems'
require 'bundler'

Bundler.require

# update this to point to your database
ENV['DATABASE_URL'] = "mysql://username@hostname/database"

require './namey_app'
run Sinatra::Application
